# Auto detect text files and perform LF normalization
* text=auto

Image recognition
Brand Recognition

Using Machine
learning capabilities
to teach the system
to recognise the
brand and other details
from image

Model to read details from
different range of products,
not restricted to FMCG but
also,
- OTC items health
supplements,skin
care and personal
hygiene items,
- Personal care
items like
deodorants, lipstick,
face screen
shampoo etc.
- Household items
like cooking oil,
Toiletries,package
food items